body {
    background: rgb(188, 185, 185);
}
.container {
    width: 80%;
    margin: auto;
}
header {
    text-align: center;
}
header h1 {
    color: white;
    font-family: Fascinate;
}
.nav-link a {
    text-decoration: none;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 80;
    color: black;
}
.nav-bar {
    display: flex;
    justify-content: space-around;
    background: yellow;
    align-items: center;
}
.search input, button {
    font-family: "PT Sans Narrow", sans-serif;
}
.search input {
    padding: 10px 55px 10px 5px;
}
.search button {
    background: rgb(23, 23, 23);
    color: white;
    padding: 10px 45px;
}

main {
    display: flex;
}
main h2, h3 {
    font-family: Fascinate, serif;
    font-style: italic;
}
main h2 {
    text-align: center;
}
main p, ul, li {
    font-family: "PT Sans Narrow", sans-serif;
}
.article {
    background: white;
    padding: 15px;
    flex-basis: 74%;
    margin: 15px 15px 15px 0;
}
.sidebar {
    background: yellow;
    padding: 10px;
    flex-basis: 24%;
    margin: 15px auto;
}